@import 'tip-calc.css';

:root {
    --primary: hsl(172, 67%, 45%);
    
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --grayish-cyan: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --very-light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

    --light-primary: hsl(172, 67%, 77%);
    --reset-button-disabled: hsl(183, 100%, 25%);
    --error: hsl(0, 67%, 65%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Space Mono', sans-serif;
}

body {
    background-color: var(--light-grayish-cyan);
}

main {
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

@media (min-width: 1024px) {
    main {
        align-items: center;
    }

    header {
        padding: 6rem 0;
    }
}
